#maker-container {
  text-align: center;
  margin: 50px;
}

#info-section,
#word-registration,
#word-list {
  margin-top: 20px;
}

#word-form {
  margin-top: 10px;
}

/* Add any additional styles as needed */
