/* style.css */
body {
  font-family: "Arial", sans-serif;
}

h1,
h2,
h3 {
  color: #333;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  margin-bottom: 10px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#wordListContainer {
  margin-bottom: 20px;
}

#wordList {
  list-style-type: none;
  padding: 0;
}

#wordList li {
  display: inline-block;
  margin-right: 10px;
}
/* Add your custom styles here */

#game-board {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  gap: 5px;
}

.cell {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

.found {
  background-color: #aaffaa;
}
